{# theme/partials/nav.html #}
{% macro render_item(item) -%}
  <li>
    {# Ensure all items are links - either direct links or section links to their overview #}
    {%- set ns = namespace(link=None) -%}
    {%- if item.children -%}
      {%- for child in item.children -%}
        {%- if ns.link is none and child.title is defined and child.title|lower == 'overview' -%}
          {%- set ns.link = child.url -%}
        {%- elif ns.link is none and child.url is defined and child.url.endswith('index.html') -%}
          {%- set ns.link = child.url -%}
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}

    {%- if item.url -%}
      <a href="{{ item.url|url if item.url.startswith('http') else base_url|url ~ '/' ~ item.url }}">{{ item.title }}</a>
    {%- elif ns.link -%}
      <a href="{{ ns.link | url }}">{{ item.title }}</a>
    {%- else -%}
      <a href="#" class="nav-section">{{ item.title }}</a>
    {%- endif -%}

    {%- if item.children -%}
      <ul>
        {%- for child in item.children -%}
          {# Skip rendering the child if it matches the chosen header link URL #}
          {%- if ns.link and child.url is defined and (child.url == ns.link) -%}
            {%- else -%}
              {{ render_item(child) }}
          {%- endif -%}
        {%- endfor -%}
      </ul>
    {%- endif -%}
  </li>
{%- endmacro %}

<ul>
  {%- for item in nav.items -%}
    {{ render_item(item) }}
  {%- endfor -%}
</ul>
