{# theme/main.html #}
{% extends "base.html" %}

{% block content %}
  <div class="layout">
    <nav id="sidebar" aria-label="Main navigation">
      {% include "partials/nav.html" %}
    </nav>
    <main id="main-content" tabindex="-1" class="content{% if page.file.src_uri == 'archive/interview_with_dave_gray_from_surly_bikes/article.md' %} archived-interview{% endif %}">
      {% if page.file.src_uri == 'archive/interview_with_dave_gray_from_surly_bikes/article.md' %}
      {% include "partials/interview-source.html" %}
      {% endif %}
      {{ page.content | safe }}
    </main>
  </div>
{% endblock %}
